/*
			RESET
		*/
		a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
		*{
			box-sizing:border-box;
			-webkit-box-sizing:border-box;
		}
		strong{
			font-weight: bold;
		}
		body{
			background: #f9f9f8;
		}
		/*
			Red #fe2031 #f0303e #d22431 
			White #fff #fafafa

			http://www.modularscale.com/?1&em&1.2&web&text

			Font bsru Tahoma
		*/
		/*
			GENERAL
		*/
		.container{

			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: 1024px;
			padding: 1.44em;
		}
		.row{
			margin-left: -1.44em;
			margin-right: -1.44em; 
		}
		/*
			BUTTON
		*/
		.heading__action-button,.inventory__item__buy-button{
			background: rgba(254,32,50,1);
			background: -moz-linear-gradient(top, rgba(254,32,50,1) 0%, rgba(210,36,48,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,32,50,1)), color-stop(100%, rgba(210,36,48,1)));
			background: -webkit-linear-gradient(top, rgba(254,32,50,1) 0%, rgba(210,36,48,1) 100%);
			background: -o-linear-gradient(top, rgba(254,32,50,1) 0%, rgba(210,36,48,1) 100%);
			background: -ms-linear-gradient(top, rgba(254,32,50,1) 0%, rgba(210,36,48,1) 100%);
			background: linear-gradient(to bottom, rgba(254,32,50,1) 0%, rgba(210,36,48,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2032', endColorstr='#d22430', GradientType=0 );
		  color: white;
		  font-family: bsru,Tahoma,Helvatica;
		  line-height: 1em;
		  font-size: 1em;
		  letter-spacing: 0.0244em;
			border: 0px;
		  font-weight: bold;  
		  cursor: pointer;
		  transition:all 0.25s;
		  display: inline-block;
		  text-align: center;
		  text-decoration: none;
		}
		.heading__action-button:hover,.inventory__item__buy-button:hover{
			box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
			transform:translate(0,-1.25%) scale(1.02);
		}
		/*
			STYLE HEADER
		*/
		.header{
			background: rgba(14,36,69,1);
			background: -moz-linear-gradient(-45deg, rgba(14,36,69,1) 0%, rgba(9,21,55,1) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(14,36,69,1)), color-stop(100%, rgba(9,21,55,1)));
			background: -webkit-linear-gradient(-45deg, rgba(14,36,69,1) 0%, rgba(9,21,55,1) 100%);
			background: -o-linear-gradient(-45deg, rgba(14,36,69,1) 0%, rgba(9,21,55,1) 100%);
			background: -ms-linear-gradient(-45deg, rgba(14,36,69,1) 0%, rgba(9,21,55,1) 100%);
			background: linear-gradient(135deg, rgba(14,36,69,1) 0%, rgba(9,21,55,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e2445', endColorstr='#091537', GradientType=1 );
		  height: auto;
		  position: relative;
		}
		.header__action-group{
			padding-top: 7.43em;
			padding-bottom: 7.43em;
		}
		.heading__seo-h1-text__large{
			font-family: bsru,Tahoma,Helvatica;	
			color: #fe2031;
			font-size: 5.16em;
		}
		.heading__seo-h1-text__subtitle{
			font-family: Tahoma,Helvatica;
			font-size:1em;
			color: #cccccc;
		}
		.heading__action-button{
		  margin-top: 1.728em;
		  border-radius: 1.44em;
		  padding: 0.833em 1.728em;
		}
		.heading__little-address{
			position: absolute;
		  top: 0px;
		  right: 0px;
		  padding: 1.44rem;
		  text-align: right;
		  line-height: 1.6em;
		  color: #969696;
		  font-size: 0.694em;
		}
		.heading__inventory-anchor-container{
			position: absolute;	
			bottom: 0%;
			left: 50%;
			transform:translate(-50%,0%);
			-webkit-transform:translate(-50%,0%);
			text-align: right;
		}
		.heading__inventory-anchor{
			display: inline-block;
			white-space: nowrap;
		}
		.heading__inventory-anchor__item{
			display: inline-block;
		}
		.heading__inventory-anchor__item a{
			color: #cccccc;
			text-decoration: none;
			font-family: bsru,Tahoma,Helvatica;
		}
		.heading__inventory-anchor__item.selected a{
			color: #d22431;
		}
		.heading__inventory-anchor__item+.heading__inventory-anchor__item{
			margin-left: 1em;
		}
		/*
			STYLE INVENTORY
		*/
		.inventory{
			padding-top: 6.192em;
		}
		.inventory__count{
			text-align: center;
			font-family: Tahoma,Helvatica;
			color: #969696;
			letter-spacing: 0.05em;
			font-size: 0.833em;
			margin-top: 1em;
			margin-bottom: 2.488em;
		}
		.inventory__title {
		    text-align: center;
		    font-family: bsru,Tahoma,Helvatica;
		    font-weight: bold;
		    color: rgba(150, 150, 150, 0.64);
		    font-size: 4.3em;
		}
		.inventory__item-list {
		    position: relative;
		}

		.inventory__item-list:before {
		    position: absolute;
		    content: ' ';
		    left: 50%;
		    height: 1.44em;
		    bottom: 100%;
		    width: 4px;
		    background: #dedede;
		    border-radius: 2px 2px 0px 0px;
		}
		/*
			STYLE INVENTORY ITEM
		*/
		.inventory__item{
			width: 33.3333%;
			display: inline-block;
			vertical-align: top;
			padding-left: 1.44em;
			padding-bottom: 2.488em;
			padding-right: 1.44em; 
		}
		.inventory__item-content{
			background-color: white;
			padding: 1.44em;
			transition:all 0.25s;
		  box-shadow: 0px 1px 5px rgba(0,0,0,0.18);
		}
		.inventory__item-content:hover{
			box-shadow: 0px 5px 8px rgba(0,0,0,0.15);	
		}
		.inventory__item__buy-button{
			opacity: 0.75;
		}
		.inventory__item-content:hover .inventory__item__buy-button{
			opacity: 1;
		}
		.inventory__item__pic{
			position: relative;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.inventory__item__pic:before{
			content: '';
			display: block;
			padding-top: 100%;
			width: 100%;
		}
		.inventory__item__seo-pic{
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
		}

		.inventory__item__name{
		  font-family: Tahoma,Helvatica;
		  font-weight: bold;  
		  min-height: 4.3em;
		  padding-bottom: 1.44em;
		  margin-top: 1.44em;
		      color: #353535;
		}
		.inventory__item__footer{
			    overflow: visible;
			    position: relative;
		}
		.inventory__item__price-place-holder {
		    font-family: bsru,Tahoma,Helvatica;
		    color: #cccccc;
		    line-height: 1em;
		    font-size: 0.833em;
		    font-weight: bold;
		    letter-spacing: 0.05em;
		    margin-bottom: 0.335em;
		}
		.inventory__item__price {
		    display: block;
		    vertical-align: bottom;
		}
		.inventory__item__price__value {
		    font-family: Tahoma;
		    font-size: 1.728em;
		    color: #4e4e4e;
		}
		.inventory__item__price__unit{
			font-family: Tahoma;
			font-size: 0.833em;
			color: #8a8a8a;
			margin-left:  0.335em;
		}
		.inventory__item__buy-button {
				position: absolute;
		    bottom: 0px;
		    right: 0px;
		    display: inline-block;
		    vertical-align: bottom;
		    border-radius: 50%;
		    width: 2.986rem;
		    line-height: 2.986rem;
		    font-size: 1em;
		    padding: 0px;
		}
		/*
			RESPONSIVE INVENTORY ITEM
		*/

		@media(max-width: 768px){
			.inventory__item{
				width: 50%;
			}
			.root{
				font-size: 14px;
			}
		}

		@media(max-width: 600px){

			.heading__seo-h1-text__large{
				font-size: 3.583em;
			}
		}

		@media(max-width: 500px){
			.inventory__item{
				width: 100%;
			}
			.header__action-group,.heading__inventory-anchor-container{
				text-align: center;
			}
		}

		@media(max-width: 365px){
			.heading__seo-h1-text__large{
				font-size: 2.986em;
			}
		}

		/*
			
			CONTACT_US PAGE
	
		*/
		.heading-contactus{
			overflow: auto;
			height: 100%;
			position: relative;
		}
		.heading__address-container{
			position: absolute;
			left: 0px;
			width: 50%;
			height: 100%;
			padding: 3.583em;
			letter-spacing: 0.02em;
		}
		.heading__address-label{
			font-size: 	3.583em;
			font-family: bsru,Tahoma,Helvatica;
			margin-bottom: 1rem;
	    color: #fe2031;
		} 
		.heading__address{
			color: #dadada;
			line-height: 1.44em;			
    	font-family: Tahoma,Helvatica;
		}
		.heading__google-map-container{
			position: absolute;
			right: 0px;
			width: 50%;
			height: 100%;
		}		
		.heading__google-map{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		@media(max-width: 700px){
			.heading__address-container{
				padding: 2.986em;
			}
			.heading__address-label{
				font-size: 2.986em;
			}
			.heading__address-container{
				position: relative;
		    width: 100%;
		    height: auto;
			}
			.heading__google-map-container{
				position: relative;
		    width: 100%;
		    height: 70%;
			}
		}

		@media(max-width: 450px){
			.heading__address-container{
				padding: 1.728em;
			}
			.heading__address-label{
				font-size: 2.488em;
			}
			.heading__google-map-container{
				position: relative;
		    width: 100%;
		    height: 50%;
			}
		}