@font-face{font-family:'bsru';src:url('bsrubansomdej-regular-webfont.woff2') format('woff2'),
url('bsrubansomdej-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'bsru';src:url('bsrubansomdej-black-webfont.woff2') format('woff2'),
url('bsrubansomdej-black-webfont.woff') format('woff');font-weight:bold;font-style:normal;}